<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>You have created a new post "<%= @post.title %>"
  <p>
    It's really nice to see that you are actively participating on the site and have posted a new post!
    This is a quick overview for you: 

    <%= @post.title %><br>
    <%= @post.body %>
  </p>
  <p> Have a great day! </p>
</body>
</html>